In [1]:
import numpy as np
import pandas as pd
import math
import os
from sklearn.preprocessing import LabelEncoder
pd.set_option('display.max_colwidth', 200)
pd.set_option('display.max_rows', 200)

In [2]:
user_subtag = pd.read_csv('/home/jovyan/df-smart-channel/graph/data/preprocessed/user_subtag.csv')

In [3]:
context = pd.read_csv('/home/jovyan/df-smart-channel/graph/data/preprocessed/context_1217_0131.csv')

In [4]:
user_subtag.head()

,cust_no,date,mobile_login_90,dd_my,dd_md,onlymd_ind,onlycc_ind,efingo_card_ind,cl_cpa_amt,fc_ind
0,++zmpPGNtNirTv2mCQb9mQ==,20211226,1.0,0.0,0.0,0.0,0.0,0.0,NaN,0
1,+2/rB1yYcMFVRjbETKUlkg==,20211226,1.0,0.0,0.0,0.0,1.0,0.0,NaN,0
2,+2csF6o9VzkGxSFb87i3UQ==,20211226,1.0,0.0,1.0,0.0,0.0,0.0,NaN,0
3,+4f4gQoJE9IF4i+hUbg5XA==,20211226,1.0,0.0,0.0,0.0,0.0,0.0,NaN,0
4,+5+nzD+wwki5IB/TVpaFZw==,20211226,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [5]:
# le = LabelEncoder()
# context.cust_no = le.fit_transform(context.cust_no)

In [6]:
# user_subtag.cust_no = le.transform(user_subtag.cust_no)

In [7]:
user_subtag['is_in_context'] = user_subtag.cust_no.isin(context.cust_no.unique())

In [8]:
user_subtag.shape

(874292, 11)

In [9]:
user_subtag = user_subtag[user_subtag.is_in_context]

In [10]:
# train test
train_date = 20211215
test_date = 20211226

In [11]:
user_subtag.date.unique()

array([20211226])

In [12]:
user_subtag[user_subtag.date == 20211225]

Empty DataFrame
Columns: [cust_no, date, mobile_login_90, dd_my, dd_md, onlymd_ind, onlycc_ind, efingo_card_ind, cl_cpa_amt, fc_ind, is_in_context]
Index: []

In [13]:
user_subtag = user_subtag.reset_index()

In [14]:
user_subtag.head()

,index,cust_no,date,mobile_login_90,dd_my,dd_md,onlymd_ind,onlycc_ind,efingo_card_ind,cl_cpa_amt,fc_ind,is_in_context
0,0,++zmpPGNtNirTv2mCQb9mQ==,20211226,1.0,0.0,0.0,0.0,0.0,0.0,NaN,0,True
1,2,+2csF6o9VzkGxSFb87i3UQ==,20211226,1.0,0.0,1.0,0.0,0.0,0.0,NaN,0,True
2,3,+4f4gQoJE9IF4i+hUbg5XA==,20211226,1.0,0.0,0.0,0.0,0.0,0.0,NaN,0,True
3,5,+6TjjYio97pnzZ3tr1zSBw==,20211226,1.0,0.0,0.0,0.0,0.0,0.0,500000.0,0,True
4,6,+6sDXXep82BZEI6tTPZEEg==,20211226,1.0,0.0,0.0,0.0,1.0,0.0,NaN,0,True

In [15]:
le = LabelEncoder()
context.cust_no = le.fit_transform(context.cust_no)

In [16]:
user_subtag.cust_no = le.transform(user_subtag.cust_no)

In [20]:
# 行銀活躍用戶
mobile_active = user_subtag.mobile_login_90
# 有外幣帳戶
forex_digital_account = user_subtag.dd_my
# 存戶
account = user_subtag.dd_md
# 純存戶
account_only = user_subtag.onlymd_ind
# 純卡戶
credit_card_only = user_subtag.onlycc_ind
# 卡存戶有e.Fingo指定卡
card_pi_only_ubear = user_subtag.efingo_card_ind
# 有信貸者
personal_loan_account_cust = user_subtag.cl_cpa_amt.notna()
# 無理專顧客
no_fc_cust = user_subtag.fc_ind == 0

In [24]:
mapping_df = pd.read_excel('subtag.xlsx', sheet_name = 'mapping')

In [25]:
mapping_df

                    subtag_03  code
0               mobile_active     0
1       forex_digital_account     1
2                     account     2
3                account_only     3
4            credit_card_only     4
5          card_pi_only_ubear     5
6  personal_loan_account_cust     6
7                  no_fc_cust     7

In [43]:
int(mapping_df.loc[mapping_df.subtag_03=='mobile_active']['code'])

0

In [44]:
def get_code(tag_name):
    int(mapping_df.loc[mapping_df.subtag_03==tag_name]['code'])

In [18]:
res_df = {}
for i, ids in enumerate(user_subtag.cust_no):
    subtags_list = []
    if mobile_active[i]: subtags_list.append(0);
    if forex_digital_account[i]: subtags_list.append(1);
    if w_digital_acct[i]: subtags_list.append(2);
    if onlymd_acct[i]: subtags_list.append(3);        
    if onlycc_acct[i]: subtags_list.append(4);
    if w_efingo_card[i]: subtags_list.append(5);
    if w_debit[i]: subtags_list.append(6);
    if wo_fc[i]: subtags_list.append(7);
    res_df[ids] = subtags_list

In [ ]:
res_df

In [17]:
test_date = 20211226

In [19]:
export_file(date = str(test_date), pairs_dict_train = res_df, pairs_dict_test = res_df )

write to file path: <_io.TextIOWrapper name='date=20211226/train_user_subtag.txt' mode='w' encoding='UTF-8'>
576691
write to file path: <_io.TextIOWrapper name='date=20211226/test_user_subtag.txt' mode='w' encoding='UTF-8'>
576691

In [18]:
def export_file(date, pairs_dict_train, pairs_dict_test):
    dir_name = f'date={date}'
    if not os.path.isdir(dir_name):
        os.mkdir(dir_name)
        
    ## train
    file_path = os.path.join(dir_name, 'train_user_subtag.txt')
    file = open(file_path,"w")
    print(f'write to file path: {file}')
    counts = 0
    for key,value in pairs_dict_train.items():
        file.write('%s' % key)
        # for item in value:
        #     file.write('%s ' % item)
        for i, item in enumerate(value):
            if math.isnan(item):
                continue
            else:
                if i == (len(value)-1):
                    file.write(' %s' % int(item))
                else:
                    file.write(' %s' % int(item))
        file.write('\n')
        counts += 1
    print(counts)
    file.close()
    ## test
    file_path = os.path.join(dir_name, 'test_user_subtag.txt')
    file = open(file_path,"w")
    counts = 0
    print(f'write to file path: {file}')
    
    for key,value in pairs_dict_test.items():
        file.write('%s' % key)
        # for item in value:
        #     file.write('%s ' % item)
        for i, item in enumerate(value):
            if math.isnan(item):
                continue
            else:
                if i == (len(value)-1):
                    file.write(' %s' % int(item))
                    file.write('\n')
                else:
                    file.write(' %s' % int(item))
        counts += 1
    print(counts)
    file.close()

In [2]:
# context = pd.read_csv('..//data/preprocessed//context_1217_1230.csv')
context = pd.read_csv('/home/jovyan/df-smart-channel/graph/data/preprocessed/context_1217_0131.csv')

In [3]:
le = LabelEncoder()
context.cust_no = le.fit_transform(context.cust_no)
context.item_id = le.fit_transform(context.item_id)

In [4]:
user_list = context.cust_no.unique()
item_list = context.item_id.unique()

In [5]:
len(user_list)

576702

In [7]:
context['cust_no'].unique()

array([    53,     55,     93, ..., 451199, 477546, 489807])

In [4]:
# user_list = context.cust_no.unique()
# item_list = context.item_id.unique()